.login h1 {
    font-weight: 700;
}


.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-google {
    color: white !important;
    background-color: #ea4335 !important;
}

.btn-facebook {
    color: white !important;
    background-color: #3b5998 !important;
}

/* Banner */
/* #Banner {
    position: relative;
    background: url('../img/poster2.jpg') no-repeat center;
    height: 500px;
    padding-top: 250px;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#Banner h1 {
    margin-top: 220px;
    font-weight: 900;
} */

/* Banner End */

.carousel-item {
	height: 400px;
	min-height: 300px;
}

.carousel-style{
    margin-top: 90px;
}

